@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, html {
  height: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  box-sizing: border-box;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

*::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #000;
}

.container {
  max-width: 1200px;
  margin: auto;
  font-family: "Montserrat", sans-serif;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 40px;
}

.container .header {
  padding: 15px 0px 35px;
}

.container .header .logo {
  width: 200px;
}

.container .header .logo img {
  max-width: 100%;
}

.container .page-content input[type=radio],
.container .page-content input[type=checkbox] {
  display: none;
}

.container .page-content input[type=radio]:checked ~ label::before,
.container .page-content input[type=checkbox]:checked ~ label::before {
  background: #000;
}

.container .page-content input[type=radio] ~ label,
.container .page-content input[type=checkbox] ~ label {
  font-size: 16px;
  line-height: 20px;
  color: #333;
  outline: none;
}

.container .page-content input[type=radio] ~ label::before,
.container .page-content input[type=checkbox] ~ label::before {
  content: "";
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 50%;
  margin-right: 10px;
  border: 1px solid #000;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.container .page-content .question-block {
  padding-bottom: 35px;
}

.container .page-content .question-block.has-error .question-name {
  color: #CD0800;
}

.container .page-content .question-block.has-error .error-text {
  max-height: 40px;
  opacity: 1;
}

.container .page-content .question-block .error-text {
  pointer-events: none;
  max-height: 0px;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  font-size: 16px;
  line-height: 18px;
  color: #CD0800;
  padding-top: 15px;
  opacity: 0;
}

.container .page-content .question-block .question-name {
  font-size: 22px;
  line-height: 26px;
  font-weight: 600;
  padding-bottom: 15px;
  color: #333;
  -webkit-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
}

.container .page-content .question-block .question-list {
  padding-left: 15px;
}

.container .page-content .question-block .question-list.flex-33 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container .page-content .question-block .question-list.flex-33 > div {
  width: 33.3%;
}

.container .page-content .question-block .question-list.flex-50 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container .page-content .question-block .question-list.flex-50 > div {
  width: 50%;
}

.container .page-content .question-block .question-list .list-item {
  padding-bottom: 5px;
}

.container .page-content .question-block input[type=text] {
  padding: 5px 10px;
  outline: none;
  border: none;
  border-bottom: 1px solid #000;
  width: 100%;
  font-size: 16px;
  line-height: 18px;
  color: #333;
}

.container .page-content .question-block .textara-resize {
  resize: none;
  padding: 5px 10px;
  outline: none;
  border: none;
  border-bottom: 1px solid #000;
  border-radius: 0px;
  width: 100%;
  font-size: 16px;
  line-height: 18px;
  color: #333;
  min-height: 30px;
}

.container .page-content .question-block .textara-resize::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: transparent;
}

.container .page-content .question-block .textara-resize::-webkit-scrollbar {
  width: 0px;
  background-color: transparent;
}

.container .page-content .question-block .textara-resize::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.container .page-content .question-block .smile-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(./../img/happy.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.container .page-content .question-block .hidden-block {
  display: none;
}

.container .page-content .question-block .hidden-question {
  padding-top: 25px;
}

.container .page-content .question-block .hidden-question.has-error .hidden-name {
  color: #CD0800;
}

.container .page-content .question-block .hidden-question.has-error .error-text {
  max-height: 40px;
  opacity: 1;
}

.container .page-content .question-block .hidden-question .error-text {
  pointer-events: none;
  max-height: 0px;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  font-size: 16px;
  line-height: 18px;
  color: #CD0800;
  padding-top: 15px;
  opacity: 0;
}

.container .page-content .question-block .hidden-question .hidden-name {
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  padding-bottom: 15px;
  color: #333;
}

.container .page-content .question-block .scale-wrapper {
  width: 100%;
}

.container .page-content .question-block .scale-wrapper .label-row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  background: #e2e2e2;
}

.container .page-content .question-block .scale-wrapper .label-row .label-item {
  width: 20%;
  min-width: 20%;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #333;
  text-align: center;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .page-content .question-block .scale-wrapper .value-row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  border: 1px solid #e2e2e2;
}

.container .page-content .question-block .scale-wrapper .value-row .value-item {
  width: 20%;
  min-width: 20%;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #333;
  text-align: center;
  padding: 10px;
  border-right: 1px solid #e2e2e2;
}

.container .page-content .question-block .scale-wrapper .value-row .value-item label::before {
  margin: 0px !important;
}

.container .page-content .question-block .scale-wrapper .value-row .value-item:last-child {
  border-right: none;
}

.container .page-content .submit-block {
  text-align: center;
}

.container .page-content .submit-block .btn-submit {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: #FFFFFF;
  padding: 15px 35px;
  background: #000;
  border: none;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
}

.container .select2-container .select2-selection--single,
.container .select2-container--default .select2-selection--single {
  resize: none;
  padding: 5px 10px;
  outline: none;
  width: 100%;
  font-size: 16px;
  line-height: 18px;
  border-radius: 0px;
  border-color: #000;
  color: #333;
  height: auto;
  font-family: "Montserrat", sans-serif;
}

.container .select2-container .select2-selection--single .select2-selection__rendered {
  font-size: 16px;
  color: #333;
  line-height: 18px;
  font-family: "Montserrat", sans-serif;
  padding: 5px 10px;
}

.container .select2-container {
  max-width: 100%;
}

.page-thanks {
  min-height: 100%;
  min-height: -webkit-fill-available;
  min-width: 100%;
  background: #FCD9AF;
}

.page-thanks .thanks-cont {
  min-height: calc(100vh - 200px);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.page-thanks .thanks-cont .thanks-text {
  font-size: 34px;
  line-height: 42px;
  font-weight: 600;
  color: #ffffff;
  padding-top: 10vh;
}

.page-thanks .thanks-cont .thanks-picture {
  width: 100%;
  padding-top: 10vh;
}

.page-thanks .thanks-cont .thanks-picture img {
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  max-height: 40vh;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  outline: none;
  border-radius: 0px;
  padding: 5px 10px;
  border: none;
  border-bottom: 1px solid #000;
  width: 100%;
  font-size: 16px;
  line-height: 18px;
  color: #333;
  min-height: 30px;
}

.select2-results__option {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #333;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 35px;
}

@media screen and (max-width: 1100px) {
  .page-thanks .thanks-cont .thanks-text {
    font-size: 28px;
    line-height: 32px;
  }
}

@media screen and (max-width: 992px) {
  .container .page-content .question-block .question-name {
    font-size: 16px;
    line-height: 18px;
  }
  .container .page-content .question-block .question-list.flex-33 .list-item, .container .page-content .question-block .question-list.flex-50 .list-item {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .page-thanks .thanks-cont .thanks-text {
    font-size: 24px;
    line-height: 28px;
  }
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
  .container .page-content .question-block {
    padding-bottom: 25px;
  }
  .container .page-content .question-block .hidden-question {
    padding-top: 10px;
  }
  .container .page-content .question-block .scale-wrapper .label-row .label-item {
    font-size: 12px;
    line-height: 14px;
  }
}

@media screen and (max-width: 500px) {
  .container .page-content .question-block .scale-wrapper .label-row .label-item {
    padding: 5px 2px;
    font-size: 10px;
    line-height: 12px;
  }
  .container .page-content .question-block .scale-wrapper .value-row .value-item {
    padding: 5px;
  }
  .container .page-content .question-block .question-list {
    padding-left: 0px;
  }
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .container .page-content .question-block .question-name,
  .container .page-content .question-block .hidden-question .hidden-name {
    font-size: 14px;
    line-height: 16px;
  }
  .container .page-content .question-block .textara-resize,
  .container .page-content .question-block .question-list .list-item input[type=radio] ~ label,
  .container .page-content .question-block .question-list .list-item input[type=checkbox] ~ label,
  .select2-container .select2-selection--single,
  .select2-container--default .select2-selection--single,
  .select2-results__option,
  .container .select2-container .select2-selection--single .select2-selection__rendered {
    font-size: 12px;
    line-height: 14px;
  }
  .container .page-content .question-block {
    padding-bottom: 15px;
  }
  .container .page-content .question-block .hidden-question .hidden-name {
    padding-bottom: 5px;
  }
}

@media screen and (max-width: 375px) {
  .container .page-content .question-block .scale-wrapper .label-row .label-item {
    font-size: 8px;
    line-height: 10px;
  }
}

@media screen and (prefers-color-scheme: dark) and (max-width: 500px) {
  .page-thanks {
    background: #FCD9AF;
  }
  .page-thanks .container {
    background: #FCD9AF;
  }
  .container {
    min-height: 100vh;
    min-width: 100%;
    background: #333;
    min-height: -webkit-fill-available;
  }
  .container .page-content .question-block .textara-resize,
  .container .page-content .question-block .question-list .list-item input[type=radio] ~ label,
  .container .page-content .question-block .question-list .list-item input[type=checkbox] ~ label,
  .container .page-content .question-block .question-name,
  .container .page-content .question-block .hidden-question .hidden-name {
    color: #ffffff;
  }
  .container .page-content .question-block input[type=text],
  .container .page-content .question-block .textara-resize {
    background: #333;
    border-color: #fff;
  }
  .container .page-content input[type=radio] ~ label::before,
  .container .page-content input[type=checkbox] ~ label::before {
    border-color: #ffffff;
  }
  .container .page-content input[type=radio]:checked ~ label::before,
  .container .page-content input[type=checkbox]:checked ~ label::before {
    background: #ffffff;
  }
  .container .page-content .submit-block .btn-submit {
    background: #ffffff;
    color: #000;
  }
}
/*# sourceMappingURL=style.css.map */